.add{
    border-radius: 50%;
    height: 3.8rem;
    width: 3.8rem;
    border: none;
    color: var(--text-white);
    font-weight: bold;
    font-size: 2.0rem;
    background-color: var(--main-color);

    position: absolute;
    bottom: 0;
    right: .8rem;
    bottom: .8rem;
    cursor: pointer;
    transition: 0.1s;
}
.add:hover{
    background-color:#470a28;
    
}
.add:active{
    background-color: #963964;
    
}