.containerBuy {
  display: flex;
  justify-content: center;
}
.mainBuy {
  margin: calc(5.6rem + 3rem) 2.4rem calc(5.3rem + 3rem) 2.4rem;
  max-width: 800px;
  width: 100%;
}
.mainBuy h2 {
  color: var(--main-color);
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 2.8rem;
}
.form {
  margin-bottom: 2rem;
}
.form input,
.form textarea {
  background-color: #f2f2f2;
  width: 100%;
  border: none;
  border-radius: 10px;
  margin-bottom: 1.6rem;
  padding-left: 0.8rem;
}
.form input {
  height: 4.2rem;
}
.form textarea {
  height: 12.5rem;
  padding-top: 0.8rem;
  resize: none;
}
.form input::placeholder,
.form textarea::placeholder {
  color: #8f8e8e;
}
.form input:focus,
.form textarea:focus {
  /* transform: scale(1.1); */
  transition: 0.3s;
  outline: none;
  box-shadow: 1px 1px 10px #8f8e8e, -1px -1px 10px #8f8e8e;
}
.productsForm {
  padding: 0 0.8rem;
}
.bigDvider {
  border: none;
  height: 0.3rem;
  background-color: #c4c4c4;
  margin-top: 2rem;
  margin-bottom: 2.8rem;
}
.price {
  display: flex;
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--main-color);
  justify-content: space-between;
  margin-bottom: 3.2rem;
}
.priceNumber {
  font-weight: 600;
}
.priceNumber::before {
  content: "$ ";
}
.btnBuy {
  height: 4.8rem;
  background-color: var(--main-color);
  border-radius: 5px;
}
.btnBuy a {
  text-decoration: none;
  color: var(--text-white);
  font-size: 1.8rem;
  font-weight: 500;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btnBuy a:hover {
  border-radius: 5px;
  background-color: #470a28;
}
.pInfo {
  color: var(--main-color);
  font-size: 0.9rem;
}
@media (min-width: 768px) {
  .pInfo {
    font-size: 1.1rem;
    margin-top: 0.8rem;
  }
}
@media (min-width: 1024px) {
  .mainBuy {
    margin-left: 4.8rem;
    margin-right: 4.8rem;
  }
  .price {
    font-size: 2rem;
  }
  .bigDvider {
    margin-top: 4.4rem;
  }
  .form {
    margin-bottom: 4rem;
  }
  .pInfo {
    font-size: 1.3rem;
  }
}
