.productForm {
  display: flex;
}
.productForm img {
  height: 5rem;
  width: 5rem;
  border-radius:20px;
}
.productInfo {
  font-size: 1.2rem;
  margin-left: 0.8rem;
}
.productFormName {
  font-weight: 500;
}
.productFormValuesQuantity,
.productFormValuesColor {
  margin-right: 1.6rem;
}
.productFormValuesColor {
  display: flex;
  align-items: center;
}
.productFormValues {
  font-weight: 300;
  display: flex;
}
.valuesColor {
  width: 1rem;
  height: 1rem;
  display: inline-block;
  border-radius: 50%;
  margin-left: 0.4rem;
}
.productFormPrice::before {
  content: "$";
}
.productDivider {
  margin: 0.8rem 0;
  border: none;
  height: 0.1rem;
  background-color: #c4c4c4;
}
@media (min-width: 1024px) {
  .productDivider {
    margin: 1.2rem 0;
  }
  .productForm img {
    height: 8rem;
    width: 8rem;
  }
  .productInfo {
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
