.cartContainer {
  display: flex;
  justify-content: center;
}
.cartMain {
  margin: calc(5.6rem + 3rem) 2.4rem calc(5.3rem + 3rem) 2.4rem;
  max-width: 1024px;
  width: 100%;
}
.noProducts {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  font-size: 1.8rem;
  color: #adadad;
  text-align: center;
}

.btnBuyContainer {
  background-color: var(--main-color);
  color: var(--text-white);
  height: 4.5rem;
  border-radius: 5px;
  font-size: 1.8rem;
  /* padding: 0 0.8rem; */
  margin-top: 4rem;
  overflow: hidden;
}
.btnBuy {
  text-decoration: none;
  color: var(--text-white);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  padding: 0 .4rem;
  
}
.btnBuy:hover {
  background-color: #470a28;
}
.btnBuyPrice {
  font-weight: 600;
}
@media (min-width: 768px) {
  .btnBuyContainer {
    width: 60%;
    margin: 0 auto;
  }
}
@media (min-width: 1024px) {
  .cartMain {
  margin-top: calc(5.6rem + 4rem)
  }
  .noProducts {
    font-size: 2.2rem;
  }
  .btnBuyContainer {
    width: 60%;
    height: 5.5rem;
    margin-top: 4.4rem;
  }
}
