.containerMain {
  display: flex;
  flex-direction: column;
  position: relative;

  margin-bottom: calc(2.5rem + 3.2rem);
}
.containerBrand {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: absolute;

  height: 7rem;
  width: 20rem;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: -3.5rem;

  color: var(--text-white);
  background-color: var(--main-color);
}
.containerBrand h1 {
  font-family: "Salsa", cursive;
}
.containerBrand span {
  font-size: 1.2rem;
}
.bgImg {
  width: 100%;
  object-fit: cover;
}
.containerAboutStore {
  display: flex;
  justify-content: center;
}
.aboutStore {
  max-width: 1024px;
  padding: 0 2.4rem;
  margin-bottom: 2.4rem;

  text-align: justify;
  font-size: 1.6rem;
}

.containerSeeTiktok {
  display: flex;
  justify-content: center;

  margin-top: 0.4rem;
}
.seeTiktok {
  text-decoration: underline;
  font-size: 1rem;

  color: black;
}

@media (min-width: 768px) {
  .containerMain {
    margin-bottom: calc(8rem + 2.4rem);
  }
  .containerMain img {
    height: 40rem;
  }
  .containerBrand {
    height: 8rem;
    bottom: -4rem;
    width: 30rem;
  }
  .containerBrand h1 {
    font-size: 3rem;
  }
  .containerBrand span {
    font-size: 1.6rem;
  }
  .aboutStore {
    padding: 0 4.8rem;
  }
  .seeTiktok {
    font-size: 1.2rem;
  }
}
@media (min-width: 1024px) {
  .aboutStore {
    font-size: 1.8rem;
    text-align: center;
  }
  .seeTiktok {
    font-size: 1.3rem;
  }
  .containerBrand {
    width: 50rem;
    height: 12rem;
    bottom: -6rem;
  }
  .containerBrand h1 {
    font-size: 4rem;
  }
  .containerBrand span {
    font-size: 1.8rem;
  }
}

  
