.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 5.6rem;
  width: 100%;
  padding: 2.4rem;

  position: fixed;
  top: 0;
  z-index: 1;
  box-shadow: 0 4px 4px rgb(43 36 36 / 76%);
  background-color: var(--main-color);
}
.desktopNavigation {
  display: none;
}
.logoLink {
  text-decoration: none;
}
.brandImg {
  width: 2.4rem;
}
.brandName {
  font-family: "Salsa", cursive;
  color: var(--text-white);
  font-size: 2.4rem;
}
.cartContainer {
  position: relative;
}
.cartContainer img {
  width: 2.4rem;
}
.carDot {
  position: absolute;
  top: -8px;
  font-size: 1.35rem;
  right: -8px;
  width: 1.6rem;
  height: 1.6rem;
  background-color: white;
  border-radius: 50%;
  /* text-align: center; */
  color: var(--main-color);
  font-family: "Salsa";
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1024px) {
  .navBtns {
    display: flex;
  }
  .desktopNavigation {
    display: flex;
    margin-right: 0.8rem;
  }
  .desktopNavigation ul {
    display: flex;
    list-style: none;
    align-items: center;
  }
  .desktopNavigation ul li a {
    text-decoration: none;
    color: var(--text-white);
    font-size: 1.8rem;
    margin-right: 2rem;
  }
  .cartContainer img {
    width: 2.7rem;
  }
}
