.navigation {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5.4rem;
  background-color: white;
  display: flex;
  align-items: center;
}
.navigation ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 100%;
}
.img {
  filter: invert(0.5) sepia(1) saturate(5) hue-rotate(175deg);
}
.active {
  color: var(--main-color);
  font-weight: bold;
}
.inactive {
  color: #adadad;
}
.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
.active svg {
  fill: var(--main-color);
}
.active svg path {
  stroke: none;
}
.navigarionCart{
  position: relative;
}
.link div{
    position: absolute;
    top: 1px;
    right: -1px;
    width: 1.0rem;
    height: 1.0rem;
    color: white;
    border-radius: 50%;
    background-color: var(--main-color);
    font-family: 'Salsa';
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    color: white;
}
.active div{
  border: 1px solid #FFFF;
}
