.notFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  font-size: 1.8rem;
  color: #adadad;
  text-align: center;
}
.notFound span {
  font-size: 3rem;
}
